asgiref==3.8.1
attrs==20.3.0
blinker==1.8.2
cachelib==0.13.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
cryptography==43.0.3
cs50==9.3.4
Flask==3.0.3
Flask-Session==0.8.0
greenlet==3.1.1
idna==3.10
itsdangerous==2.2.0
jellyfish==0.11.2
Jinja2==3.1.4
lib50==3.0.11
MarkupSafe==3.0.1
msgspec==0.18.6
packaging==24.1
parse==1.20.2
pexpect==4.9.0
ptyprocess==0.7.0
pycparser==2.22
PyYAML==6.0.2
requests==2.32.3
setuptools==75.3.0
SQLAlchemy==2.0.35
sqlparse==0.5.1
submit50==3.1.5
termcolor==2.5.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
Werkzeug==3.0.4
wheel==0.44.0
