{% extends "layout.html" %}

{% block title %}
    Edit Marks
{% endblock %}

{% block main %}
    {% if not student_id %}
    <form action="/editmarks" method="get">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="student_id" placeholder="Student ID" type="number" max="{{num_of_students}}" required>
        </div>
        <button class="btn btn-primary" type="submit">Edit Marks</button>
    </form>
    {% else %}
        <form action="/editmarks" method="post">           
            <div class="mb-3" style="font-weight: bolder;">
                <h4> Student Id:- {{student_id}} </h4>
                {% for mark in marks_db %}
                    <h5> {{mark.subject}} :- {{mark.mark}} </h5>
                {% endfor %}
            </div>
            <input name="student_id" value="{{student_id}}" hidden>
            <select class="form-select mx-auto  mb-3" name="subject" style="width: 205px;" required>
                <option disabled selected>Subject</option>
                {% for mark in marks_db %}
                    <option value="{{mark.subject}}">{{mark.subject}}</option>
                {% endfor %}
            </select>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="new_mark" placeholder="New Mark" type="number" min="0"  required>
            </div>
            <button class="btn btn-primary" type="submit">Edit Marks</button>
        </form>
    {% endif %}
{% endblock %}

