{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <div class="mainDiv flex-container ">
        <a href="/addmarks" class="home flex-item"  style="text-decoration: none;"><div class="card satisfy-regular flex-item text-black add  mb-3 ">Add marks</div></a>
        <a href="/marksheet"  class="home flex-item" style="text-decoration: none;"><div class="card satisfy-regular flex-item text-black view mb-3">View Marks</div></a>
        <a href="/editmarks"  class="home flex-item" style="text-decoration: none;"><div class="card satisfy-regular flex-item text-black edit mb-3">Edit Marks</div></a>
        <a href="/percentage" class="home flex-item" style="text-decoration: none;"><div class="card satisfy-regular flex-item text-black calc mb-3">Calculate Percentage</div></a>
    </div>
    
{% endblock %}
